
body {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.neon {
  font-size: 48px;
  color: #fff;
  text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 
  0 0 20px #0ff, 0 0 40px #0ff;
  animation: glow 2.5s ease-in-out 
  infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #0ff, 0 0 10px
     #0ff;
  }
  to {
    text-shadow: 0 0 20px #0ff, 0 0 40px
     #0ff;
  }
}
